
# Telegram access
TELEGRAM_TOKEN=<token>
TELEGRAM_BOT_NAME=<bot_name>

# Service Port
PORT=8088

# DB Connection
MYSQL_VERSION=5.7
MYSQL_URL=http://localhost:3306
MYSQL_DATABASE=telegram
MYSQL_USER=telegram
MYSQL_PASSWORD=telegram
MYSQL_ROOT_PASSWORD=telegram
